@charset "utf-8";

.toast-close {
    margin-left: 20px;
}

.tq_scrollbar::-webkit-scrollbar {
    width: 12px;
}

.tq_scrollbar::-webkit-scrollbar-corner,
.tq_scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
}

.tq_scrollbar::-webkit-scrollbar-thumb {
    background-color:#231815;
    background-clip: padding-box;
    border: 2px solid transparent;
    border-radius: 6px;
}

.tq_scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #231815;
}

.tq_scrollbar::-webkit-scrollbar-thumb:active {
    background-color: rgb(128, 128, 128);
}

/* Buttons */
.tq_scrollbar::-webkit-scrollbar-button:single-button {
    background-color:transparent;

    display: block;
    background-size: 10px;
    background-repeat: no-repeat;
}

/* Up */
.tq_scrollbar::-webkit-scrollbar-button:single-button:vertical:decrement {
    height: 12px;
    width: 12px;
    background-position: center 4px;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(30, 30, 30)'><polygon points='50,00 0,50 100,50'/></svg>");
}

.tq_scrollbar::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(50, 50, 50)'><polygon points='50,00 0,50 100,50'/></svg>");
}

.tq_scrollbar::-webkit-scrollbar-button:single-button:vertical:decrement:active {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(80, 80, 80)'><polygon points='50,00 0,50 100,50'/></svg>");
}

/* Down */
.tq_scrollbar::-webkit-scrollbar-button:single-button:vertical:increment {
    height: 12px;
    width: 12px;
    background-position: center 2px;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(30, 30, 30)'><polygon points='0,0 100,0 50,50'/></svg>");
}

.tq_scrollbar::-webkit-scrollbar-button:single-button:vertical:increment:hover {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(50, 50, 50)'><polygon points='0,0 100,0 50,50'/></svg>");
}

.tq_scrollbar::-webkit-scrollbar-button:single-button:vertical:increment:active {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(80, 80, 80)'><polygon points='0,0 100,0 50,50'/></svg>");
}

/* Left */
.tq_scrollbar::-webkit-scrollbar-button:single-button:horizontal:decrement {
    height: 12px;
}

/* preloader */
.hiddenforce{
	display:none !important;
}
#preloadshow .loader_wrap    {
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
#preloadshow .loader {
width: 48px;
height: 48px;
border-radius: 50%;
display: inline-block;
position: relative;
border: 3px solid;
border-color: #FFF #FFF transparent transparent;
box-sizing: border-box;
animation: preloadshow_rotation 1s linear infinite;
}
#preloadshow .loader::after,
#preloadshow .loader::before {
content: '';  
box-sizing: border-box;
position: absolute;
left: 0;
right: 0;
top: 0;
bottom: 0;
margin: auto;
border: 3px solid;
border-color: transparent transparent #FF3D00 #FF3D00;
width: 40px;
height: 40px;
border-radius: 50%;
box-sizing: border-box;
animation: preloadshow_rotationBack 0.5s linear infinite;
transform-origin: center center;
}
#preloadshow .loader::before {
width: 32px;
height: 32px;
border-color: #FFF #FFF transparent transparent;
animation: preloadshow_rotation 1.5s linear infinite;
}

@keyframes preloadshow_rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
	} 
	@keyframes preloadshow_rotationBack {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-360deg);
	}
}

/* Chrome, Safari, Edge, Opera */
input.disable-arrow::-webkit-outer-spin-button,
input.disable-arrow::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox  */
input.disable-arrow[type='number'] {
  -moz-appearance: textfield;
}